@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

body {
  margin: 0;
}

.nav {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(243, 18, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  font-size: normal;
  color: aliceblue;
  font-weight: bolder;
  justify-content: space-between;
  align-items: center;
}

.links {
  width: 60%;
  font-family: "Montserrat", sans-serif;
}

.link {
  padding: 10px;
  cursor: pointer;
  float: left;
}

.contactBtn {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  font-size: medium;
  font-weight: bolder;
  color: aliceblue;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: grey;
}

.link:hover {
  background-color: white;
  color: black;
}
