.turnover {
  margin: 0;
  box-sizing: border-box;
  min-height: 90vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTurnover {
  width: 80%;
  min-height: 60vh;
}
